html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
html * {
	box-sizing: border-box;
}
.title {
	width: 1000px;
	display: flex;
	justify-content: left;
}
h1 {
	margin: 30px 0;
	width: 230px;
	text-align: center;
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-right: 1px solid grey;
	position: relative;
	left: -1px;
	padding: 5px;
	font-family: monospace;
	font-size: 1.85rem;
}
h2 {
	font-family: monospace;
	font-size: 1.6rem;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
label {
	display: block;
	margin-bottom: 2px;
	width: 100%;
}
.tabs label {
	margin-bottom: 0;
	padding: 1px 0;
	border-radius: 4px 4px 0 0;
}
input, select, textarea {
	width: 100%;
}
textarea {
	height: 100px;
	resize: none;
}
.content-container textarea {
	position: relative;
	top: -2px;
}
button {
	width: 200px;
	cursor: pointer;
}
.form-container {
	width: 1000px;
	display: flex;
	justify-content: start;
	margin-top: 20px;
}
.column {
	width: 500px;
	margin: 0 50px;
}
.column h2 {
	margin-top: 0;
}
section.small-height{
	height: 200px;
}
section.big-height{
	height: 375px;
}
.input-container {
	margin-bottom: 15px;
}
.submit-container {
	width: 1000px;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.slider-container {
	width: 100%;
}
.slider {
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	border-radius: 10px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	cursor: pointer;
}
.slider:hover {
	opacity: 1;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 50%;
}
.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 50%;
}
.slider-labels {
	display: flex;
	justify-content: space-between;
}
.details-information {
	height: 90px;
	background:#e9e9ed;
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px;
}
.details-label, .details-description {
	margin: 0;
	font-size: 0.9rem;
}
.details-label {
	margin-bottom: 5px;
}
.tabs {
	width: 100%;
	display: flex;
	justify-content: start;
}
.tabs input {
	display: none;
}
.tabs label {
	width: 50%;
	text-align: center;
	border: none;
	opacity: 0.35;
}
.tabs label:before {
	margin-right: 10px;
}
.tabs label:hover {
	cursor: pointer;
}
.tabs input:checked + label {
	background: #e9e9ed;
	/* background: #e0e0e0; */
	border: 1px solid gray;
	opacity: 1;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 60px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	margin: auto;
	max-width: 1200px;
	width: calc(90vw - 40px);
	height: calc(90vh - 40px);
	padding: 20px;
	background-color: #fefefe;
	overflow: auto;
}
.modal-summaries {
	font-size: 0.75em;
}
.modal-summaries h3{
	margin: 20px 0;
}
.modal-summaries p{
	margin: 4px 0;
	opacity: 0.75;
}
.modal-summaries .single-summary {
	margin-bottom: 20px;
}
.modal-summaries p.error {
	color: red;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	margin: auto;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.copy {
	text-align: center;
}
.clear-cache {
	position: absolute;
	/* right: 10px; */
}
.icon-button {
	width: 25px;
	height: 25px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s;
	opacity: 0.85;
	padding: 5px;
}
.icon-button img {
	width: 25px;
	height: 25px;
}
.icon-button:hover {
	transform: scale(1.25);
	opacity: 1;
}
.icon-button:active {
	transform: scale(0.9);
}
.submit-container button { 
	border-radius: 5px;
	border: 1px solid rgb(148, 148, 148);
	transition: 0.1s;
	font-size: 1.1rem;
	font-family: monospace;
}
.submit-container button:active {
	transform: scale(0.98);
}
.notabene {
	position: absolute;
	bottom: 10px;
	right: 15px;
}
.notabene p {
	font-size: 0.8rem;
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 1100px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #e9e9ed;
	}
	h1 {
		margin: 0;
		background-color: white;
	}
	form {
		background-color: white;
		/* background: cadetblue; */
		border: solid 1px grey;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.clear-cache {
		right: 10px;
		top: 10px;
	}
}
@media screen and (max-width: 1100px) {
	h1 {
		width: 100%;
		border: none;
		font-size: 2.4rem;
		margin-bottom: 40px;
	}
	.title {
		width: 100%;
	}
	.form-container {
		flex-direction: column;
		align-items: center;
		margin-top: 0;
	}
	.form-container, .submit-container, .response-container {
		width: auto;
	}
	.column-1, .submit-container {
		margin-bottom: 20px;
	}
	.response-container {
		padding-bottom: 50px;
	}
	.clear-cache {
		left: 10px;
		bottom: 20px;
	}
	.notabene {
		bottom: 20px;
	}
	.submit-container button {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 550px) {
	.column {
		width: 80%;
	}
}
@media screen and (max-width: 350px) {
	textarea {
		height: 75px;
	}
}